* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.contact, 
.atencionCliente
{
    width: 33%;
    min-width: 150px;
    height: 150px;
}
.logo{
    height: 100px;
    width: 33%;

}
.contact {
    height: 100px;
    width: 33%;
}

.img{
    height: 25%;
}


