* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: red;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.contact, 
.atencionCliente{
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.logo{
    height: 100px;
    width: 100px;
}
.contact {
   
}
.atencionCliente {
   
}
.img{
    height: 25%;
}


